[user]
	name = Cédric Hernalsteens
	email = cedric.hernalsteens@ulb.be
	signingkey = FAF17F6500A5C0A622FF0E15BD7337470B9C78E7
[filter "lfs"]
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
[core]
	autocrlf = input
	excludesfile = /Users/chernals/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
